body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 104, 163)  ;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0 !important;
    list-style: none;
}

 .container { 
    width: 80%;
    margin: auto;
    display:flex;
    align-items: center;
   flex-direction: column;
}

.header {
    background-color: black;
    color: white;
    overflow: auto;
    border-bottom: 5px solid white;
    background-repeat: no-repeat;
    background-size: cover;
   }
.container2{
   background-color: white;
    width: 800px;
    margin: auto;
    border-radius: 7px;
    height: 315px;
    font-size: 30px;
    padding-top: 35px;
    margin-top: 120px;
}

.container2 input {
    text-align: center;
    margin-left: 68px;
    border: none;
    border-bottom: 2px solid rgb(255, 104, 163);
    outline: none;
}
.container2 button {
    text-align: center;
    margin-left: 315px;
    width: 170px;
    border-radius: 20px;
    padding: 7px;
    color: rgb(37, 37, 37);
    background-color: rgb(255, 104, 163);
    outline: none;
    border: none;
}

.entrar a {
    text-decoration: none;
    color: black;
}