 body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0 !important;
    list-style: none;
}

 .container { 
    width: 80%;
    margin: auto;
    display:flex;
    align-items: center;
   flex-direction: column;
}

.header {
    background-color: black;
    color: white;
    overflow: auto;
    border-bottom: 5px solid fuchsia;
    background-repeat: no-repeat;
    background-size: cover;
   }

 .container2 { 
    width: 80%;
    margin: auto;
    
    align-items: center;
    justify-content: stretch;
 }


    .foto{
    width: 300px; 

}       

.not1{
    float: right; 
   width:  auto;

   height: 120px;
   padding-top: 55px;
}
.entrar a {
    color: black;
}




